<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Add a New Recipe</title>
        {% load static %}
        <!-- <link rel="stylesheet" href="{% static 'main.css' %}"> -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    </head>
    <body>
        <div class="container">
            <div class="card mx-auto mt-3">
                <!-- FORM - ADD MENU ITEM -->
                <h5 class="card-header">Add Menu Item</h5>
                <div class="card-body">
                <form action="add-menu-item/create" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-lg">
                            <div class="form-group">
                                <label for="item_name">Item Name</label>
                                <input type="text" class="form-control" id="item_name" name="item_name" placeholder="Fish Tacos">
                            </div>
                        </div>
                        <div class="col-lg">
                            <div class="form-group">
                                <label for="item_desc">Item Description</label>
                                <input type="text" class="form-control" id="item_desc" name="item_desc" placeholder="Fresh grilled fish with mango salsa...">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg">
                            <div class="form-group">
                                <label for="item_price">Price</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">$</span>
                                    </div>
                                    <input type="number" step="0.01" class="form-control" id="item_price" name="item_price" required>
                                </div>
                            </div>
                        </div>
                        <div class="col-md">
                            <div class="form-group">
                                <label for="min_calories">Min Calories</label>
                                <input type="text" class="form-control" id="min_calories" name="min_calories" placeholder="250" required>
                            </div>  
                        </div>
                        <div class="col-md">
                            <div class="form-group">
                                <label for="max_calories">Max Calories</label>
                                <input type="text" class="form-control" id="max_calories" name="max_calories" placeholder="270" required>
                            </div>
                        </div>
                        <div class="col-md">
                            <div class="form-group">
                                <label for="dietary">Dietary Restrictions</label>
                                <input type="text" class="form-control" id="dietary" name="dietary" placeholder="Glutten Free">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md">
                            <div class="form-group category-dynamic">
                                <label for="category">Category <a href="" class="badge badge-info add-new-category" data-toggle="modal" data-target="#categoryModal">Add New</a></label>
                                <select class="form-control" id="category" name="category">
                                    <option selected disabled>Please Choose...</option>
                                    {% for category in categories %}
                                    <option value='{{category.id}}'>{{category.category_name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-md">
                            <div class="form-group subcategory-dynamic">
                                <label for="subcategory">Subcategory <a href="" class="badge badge-info add-new-subcategory" data-toggle="modal" data-target="#categoryModal">Add New</a></label>
                                <input type="text" class="form-control invisible" id="subcategory" name="subcategory" disabled>
                            </div>
                        </div>
                        <div class="col-md">
                            <div class="form-group">
                                <label for="item_image">Upload Image</label>
                                <input type="file" class="form-control" id="item_image" name="item_image" accept="image/png, .jpeg, .jpg">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Is this currently availabe?</span>
                                </div>
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <input type="radio" id="is_available" name="is_available" value="True">
                                        &nbsp;Yes&nbsp;&nbsp;
                                        <input type="radio" id="is_not_available" name="is_available" value="False">
                                        &nbsp;No
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-primary mt-3" type="submit">Add Item</button>
                    <a class="btn btn-primary mt-3" href="/menu-admin/">Go Back</a>
                </form>
            </div>
            <div class="card-footer">
                {% for message in messages %}
                    <div class="text-danger alert alert-dismissible" role="alert">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            </div>
            </div>
        </div>

        <!-- ADD "ADD MENU ITEM" BOTTON TO PAGE -->
        <div class="modal fade" id="categoryModal" tabindex="-1" role="dialog" aria-labelledby="categoryModal" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content category-form">
                </div>
            </div>
        </div>
        <!-- JavaScript Infor for Bootstrap -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script>
            $("#category").on("click", function() {
                $(".subcategory-dynamic").children().removeClass("invisible");
                if ($(this).val() != null) {
                    cat_name = $(this).val();
                    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
                    $.ajax({
                        headers: {'X-CSRFToken': csrftoken},
                        url: '/menu-admin/grab-subcategory',
                        method: 'post',
                        data: {category_id: cat_name, 'csrfmiddlewaretoken': csrftoken},
                        success: function(ServerResponse) {
                            $('.subcategory-dynamic').html(ServerResponse)
                        }
                    });
                };
            });
            $(".category-dynamic").on("click", ".add-new-category", function(e) {
                e.preventDefault();
                console.log("add new category");
                $.ajax({
                    url: '/menu-admin/add-category',
                    method: 'get',
                    success: function(ServerResponse) {
                        $('.category-form').html(ServerResponse)
                    }
                });
            });
            $(".subcategory-dynamic").on("click", ".add-new-subcategory", function(e) {
                e.preventDefault();
                console.log("add new subcategory");
                $.ajax({
                    url: '/menu-admin/add-subcategory',
                    method: 'get',
                    success: function(ServerResponse) {
                        $('.category-form').html(ServerResponse)
                    }
                });
            });
        </script>
    </body>
</html>
