<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% load static %}
        {% load bootstrap4 %}
        {% bootstrap_javascript jquery='full' %}
        <link rel="stylesheet" href="{% static 'css/admin_panel.css' %}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Questrial" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">

        <title>All Menu Items</title>
        <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous"> -->
    </head>
    <body>
        <!-- NAV -->
        <nav class="navbar navbar-expand-md navbar-dark bg-secondary">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainPosNav">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <span class="d-md-none navbar-brand mx-auto">
                    <h2 class="font-weight-bold my-2">NAME HERE</h2>
                </span>
                <div class="collapse navbar-collapse" id="mainPosNav">
                    <ul class="navbar-nav my-2">
                        <li class="nav-item d-none d-md-inline border rounded px-2 mr-2 active">
                          <a class="nav-link" href="#"><i class="fas fa-utensils"></i></a>
                        </li>
                        <li class="nav-item d-none d-md-inline border rounded px-2 mr-2">
                          <a class="nav-link" href="#"><i class="fas fa-stopwatch"></i></a>
                        </li>
                        <li class="nav-item d-none d-md-inline border rounded px-2 mr-2">
                          <a class="nav-link" href="#"><i class="fas fa-chart-line"></i></a>
                        </li>
                    </ul>
                    <ul class="d-md-none navbar-nav my-2">
                        <li class="nav-item px-2 mr-2 active">
                          <a class="nav-link" href="#">POS</a>
                        </li>
                        <li class="nav-item px-2 mr-2">
                          <a class="nav-link" href="#">CLOCK IN/OUT</a>
                        </li>
                        <li class="nav-item px-2 mr-2">
                          <a class="nav-link" href="#">SALES</a>
                        </li>
                    </ul>
                    <form class="d-md-none form-inline my-3">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                  <i class="fas fa-search"></i>
                                </span>
                            </div>
                            <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button">GO</button>
                            </div>
                        </div>
                    </form>
                </div>
                <span class="d-none d-md-inline-block navbar-brand mx-auto">
                    <h2 class="font-weight-bold my-2"><a href="/" type="link">NAME HERE</a></h2>
                </span>
                <div class="collapse navbar-collapse">
                    <form class="form-inline ml-auto my-3">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                  <i class="fas fa-search"></i>
                                </span>
                            </div>
                            <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button">GO</button>
                            </div>
                        </div>
                    </form>
                </div>
            </nav>


        <!-- ADD TABLE (LIST) OF ALL MENU ITEMS HERE -->
        <div class="container">
            <table class="table table-hover mt-5">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Item Name</th>
                        <th scope="col">Category</th>
                        <th scope="col">Subcategory</th>
                        <th scope="col">Availbile</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody class=""></tbody>
                    {% for item in all_items %}
                    <tr>
                        <td>{{ item.item_name }}</td>
                        <td>{{ item.category.category_name }}</td>
                        <td>{{ item.subcategory.subcategory_name }}</td>
                        <td>
                            {% if item.is_available == True %}
                            <img src="{% static 'images/icons/checkmark.png' %}">
                            {% else %}
                            <img src="{% static 'images/icons/x.png' %}">
                            {% endif %}
                        </td>
                        <td>
                            <a href="" data-toggle="modal" data-target="#viewModal" id="view-item" class="badge badge-info" item-number="{{ item.id }} ">View</a>
                            <a href="/menu-admin/edit-menu-item/{{item.id}}" class="badge badge-success">Edit</a>
                            <a href="/menu-admin/delete-menu-item/{{item.id}}" class="badge badge-danger">Delete</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <a href="/menu-admin/add-menu-item" class="badge badge-info">Add Menu Item</a>

        <!-- ADD "ADD MENU ITEM" BOTTON TO PAGE -->
        <div class="modal fade" id="viewModal" tabindex="-1" role="dialog" aria-labelledby="viewModal" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body container-fluid view-menu-item"></div>
                </div>
            </div>
        </div>
        {% csrf_token %}
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script>
            $('[id="view-item"]').on("click", function() {
                item_num = $(this).attr("item-number");
                item_url = '/menu-admin/view-item/' + item_num;
                const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
                $.ajax({
                    headers: {'X-CSRFToken': csrftoken},
                    url: item_url,
                    method: 'post',
                    data: {item: item_num, 'csrfmiddlewaretoken': csrftoken},
                    success: function(ServerResponse) {
                        $('.view-menu-item').html(ServerResponse)
                    }
                });
            });
        </script>
    </body>
</html>