//custom styles

//main POS page

body{
    font-family: "Questrial", sans-serif;
    background: linear-gradient(#edecec, white); 
}

.navbar{
    .nav-link:hover{
        border-bottom: none;
    }
}

#category_buttons_container{
    margin-top: 15px;
}

.card-img-top{
    height: 175px;
}

#item_cards{
    text-decoration: none;
}

//POS Modal

#qty_field{
    width: 30px;
}
//media queries

@media(max-width: 576px){
    .card-img-top{
        height: 250px;
    }
}