<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %} 
    <link rel="stylesheet" href="{% static 'css/order.css'%}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>Online Order</title>
</head>
<body>

    <header>
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
            <button class="navbar-toggler" data-toggle="collapse" data-target="#mainNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="mainNavbar">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a href="/" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="/login" class="nav-link">Login</a>
                    </li>
                    <li class="nav-item">
                        <a href="/logout" class="nav-link">Logout</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="view" style="background-image: url('/static/images/food.jpeg'); background-repeat: no-repeat; background-size: cover; background-position: center center; opacity: 0.9; ">
          <div class="mask rgba-black-light align-items-center">
            <div class="container">
              <div class="row">
                <div class="col-md-12 mb-4 white-text text-center">
                  <h1 style="color: white; margin-top: 120px; font-size: 50px;">Restaurant Name</h1>
                  <h1 style="color: white;">Order Now!</h1>
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>
      <div class="container mt-3">
        <div class="col-sm-4">
          <!--Nested rows within a column-->
          <div class="row">
              <div class="col-12">
                  <div class="sidebar-content">
                    <div class="shadow p-3 mb-5 bg-white rounded">
                      <h3 style="text-align: center;">Your Order</h3>
                      <p>1x food item   price</p>
                      <p>1x food item   price</p>
                      <p>1x food item   price</p>
                      <p>1x food item   price</p>
                      <p>Total:</p>
                      <p>Tax:</p>
                      <p>Tip:</p>
                      <p>Grand Total:</p>
                      <a class="btn btn-danger" href="/order-online/checkout">Pay Now</a>
                    </div>
                  </div>
              </div>
          </div>
      </div>
      </div>
      <main class="main">
        <div class="container-fluid">
          <div class="row" style="margin-top: 20px;">
              <div class="col-lg-9">
                <p style="text-align: center;"><a href="">Appetizers</a><a href="">Entree</a><a href="">Sides</a><a href="">Dessert</a><a href="">Drink</a></p>
              </div>
          </div>
        </div>
          <div class="row" style="margin-top: 35px;">
            <div class="col" style="text-align: center;">
                <img src="/static/images/blank.png" alt="blank">
                <h5>Name</h5>
                <p>Description</p>
                <p>Calories</p>
                <p>Price</p>
                <button type="button" class="btn btn-danger">Order</button>
            </div>
            <div class="col" style="text-align: center;">
                <img src="/static/images/blank.png" alt="blank">
                <h5>Name</h5>
                <p>Description</p>
                <p>Calories</p>
                <p>Price</p>
                <button type="button" class="btn btn-danger">Order</button>
            </div>
            <div class="col" style="text-align: center;">
                <img src="/static/images/blank.png" alt="blank">
                <h5>Name</h5>
                <p>Description</p>
                <p>Calories</p>
                <p>Price</p>
                <button type="button" class="btn btn-danger">Order</button>
            </div>
            <div class="col" style="text-align: center;">
                <img src="/static/images/blank.png" alt="blank">
                <h5>Name</h5>
                <p>Description</p>
                <p>Calories</p>
                <p>Price</p>
                <button type="button" class="btn btn-danger">Order</button>
            </div>
          </div>
          <div class="row" style="margin-top: 35px;">
            <div class="col" style="text-align: center;">
                <img src="/static/images/blank.png" alt="blank">
                <h5>Name</h5>
                <p>Description</p>
                <p>Calories</p>
                <p>Price</p>
                <button type="button" class="btn btn-danger">Order</button>
            </div>
            <div class="col" style="text-align: center;">
                <img src="/static/images/blank.png" alt="blank">
                <h5>Name</h5>
                <p>Description</p>
                <p>Calories</p>
                <p>Price</p>
                <button type="button" class="btn btn-danger">Order</button>
            </div>
            <div class="col" style="text-align: center;">
                <img src="/static/images/blank.png" alt="blank">
                <h5>Name</h5>
                <p>Description</p>
                <p>Calories</p>
                <p>Price</p>
                <button type="button" class="btn btn-danger">Order</button>
            </div>
            <div class="col" style="text-align: center;">
                <img src="/static/images/blank.png" alt="blank">
                <h5>Name</h5>
                <p>Description</p>
                <p>Calories</p>
                <p>Price</p>
                <button type="button" class="btn btn-danger">Order</button>
            </div>
          </div>
        </div>
      </main>
      <p>Items</p>
      {% for item in items %}
        <p>{{item.item_name}}</p>
      {% endfor %}
      <p>Location</p>
      <p>Category</p>
      {% for category in categories%}
      <p>{{category.category_name}}</p>
      {%endfor%}
</body>
</html>