<!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            {% load static %}
            {% load bootstrap4 %}
            {% bootstrap_javascript jquery='full' %}
            <link rel="stylesheet" href="{% static 'css/pos_app.css' %}">
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
            <link href="https://fonts.googleapis.com/css?family=Questrial" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
            <title>POS</title>
        </head>
        <body>
            <nav class="navbar navbar-expand-md navbar-dark bg-secondary">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainPosNav">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <span class="d-md-none navbar-brand mx-auto">
                    <h2 class="font-weight-bold my-2">NAME HERE</h2>
                </span>
                <div class="collapse navbar-collapse" id="mainPosNav">
                    <ul class="navbar-nav my-2">
                        <li class="nav-item d-none d-md-inline border rounded px-2 mr-2 active">
                          <a class="nav-link" href="#"><i class="fas fa-utensils"></i></a>
                        </li>
                        <li class="nav-item d-none d-md-inline border rounded px-2 mr-2">
                          <a class="nav-link" href="#"><i class="fas fa-stopwatch"></i></a>
                        </li>
                        <li class="nav-item d-none d-md-inline border rounded px-2 mr-2">
                          <a class="nav-link" href="#"><i class="fas fa-chart-line"></i></a>
                        </li>
                    </ul>
                    <ul class="d-md-none navbar-nav my-2">
                        <li class="nav-item px-2 mr-2 active">
                          <a class="nav-link" href="#">POS</a>
                        </li>
                        <li class="nav-item px-2 mr-2">
                          <a class="nav-link" href="#">CLOCK IN/OUT</a>
                        </li>
                        <li class="nav-item px-2 mr-2">
                          <a class="nav-link" href="#">SALES</a>
                        </li>
                    </ul>
                </div>
                <span class="d-none d-md-inline-block navbar-brand mx-auto">
                    <h2 class="font-weight-bold my-2">NAME HERE</h2>
                </span>
                <div class="collapse navbar-collapse">
                    <form class="form-inline ml-auto my-3">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                  <i class="fas fa-search"></i>
                                </span>
                            </div>
                            <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button">GO</button>
                            </div>
                        </div>
                    </form>
                </div>
            </nav>
            <nav class="navbar d-md-none navbar-expand-md navbar-dark bg-primary">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#categoryNav" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <span class="navbar-brand mx-auto">
                    <h2 class="font-weight-bold my-2">CATEGORIES</h2>
                </span>
                <div class="collapse navbar-collapse" id="categoryNav">
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                        <li class="nav-item">
                            <a id="categoryNavItem1" class="nav-link" href="#">APPETIZERS</a>
                        </li>
                        <li class="nav-item">
                            <a id="categoryNavItem2" class="nav-link" href="#">ENTREES</a>
                        </li>
                        <li class="nav-item">
                            <a id="categoryNavItem3" class="nav-link" href="#">SIDES</a>
                        </li>
                        <li class="nav-item">
                            <a id="categoryNavItem4" class="nav-link" href="#">DESSERTS</a>
                        </li>
                        <li class="nav-item">
                            <a id="categoryNavItem5" class="nav-link" href="#">DRINKS</a>
                        </li>
                    </ul>
                    <hr id="categoryDivider" style="display: none;">
                    <ul id="subCategoryNav" style="display: none;" class="navbar-nav mt-2 mt-lg-0">
                        <li class="nav-item">
                            <a id="subCategoryNavItem1" class="nav-link" href="#">BREAKFAST</a>
                        </li>
                        <li class="nav-item">
                            <a id="subCategoryNavItem2" class="nav-link" href="#">LUNCH</a>
                        </li>
                        <li class="nav-item">
                            <a id="subCategoryNavItem3" class="nav-link" href="#">DINNER</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="container-fluid">
                <nav class="nav nav-pills mt-3 d-none d-md-flex">
                    <a id="categoryButton1" class="btn btn-lg btn-primary py-3 mx-2 flex-fill text-sm-center nav-link" href="#">APPETIZERS</a>
                    <a id="categoryButton2" class="btn btn-lg btn-primary py-3 mx-2 flex-fill text-sm-center nav-link" href="#">ENTREES</a>
                    <a id="categoryButton3" class="btn btn-lg btn-primary py-3 mx-2 flex-fill text-sm-center nav-link" href="#">SIDES</a>
                    <a id="categoryButton4" class="btn btn-lg btn-primary py-3 mx-2 flex-fill text-sm-center nav-link" href="#">DESSERTS</a>
                    <a id="categoryButton5" class="btn btn-lg btn-primary py-3 mx-2 flex-fill text-sm-center nav-link" href="#">DRINKS</a>
                </nav>
                <nav class="nav nav-pills mt-3 d-none d-md-flex">
                    <a style="display: none;" id="subCategoryButton1" class="btn btn-lg btn-primary py-3 mx-2 flex-fill text-sm-center nav-link" href="#">BREAKFAST</a>
                    <a style="display: none;" id="subCategoryButton2" class="btn btn-lg btn-primary py-3 mx-2 flex-fill text-sm-center nav-link" href="#">LUNCH</a>
                    <a style="display: none;" id="subCategoryButton3" class="btn btn-lg btn-primary py-3 mx-2 flex-fill text-sm-center nav-link" href="#">DINNER</a>
                </nav>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-7 col-lg-8 col-xl-9">
                        <div class="row mt-3">
                            {% for item in items %}
                            {% if item.is_available == True %}
                            <div class="col-lg-3 col-sm-6 mb-4">
                                <a href="#orderModal{{ item.id }}" id="item_cards" data-toggle="modal" data-target="#orderModal{{ item.id }}">
                                    <div id="item_display" style="display: none;" class="card h-100">
                                        {% if item.item_image %}
                                        <img src="{{ item.item_image.url }}" class="card-img-top" alt="pos_item_image">
                                        {% endif %}
                                        <div class="card-body p-3">
                                            <h5 class="card-title font-weight-bold text-primary text-uppercase">{{ item.item_name }}</h5>
                                            <h5 class="text-success">${{ item.item_price }}</h5>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-md-5 col-lg-4 col-xl-3">
                        <div class="sticky-top pt-none pt-sm-3 mb-5">
                            <div class="card">
                                <div class="card-header text-center">
                                    <h4 class="font-weight-bold">TABLE # ORDER</h4>
                                </div>
                                <div class="card-body text-center">
                                    <h5 class="card-title d-inline-block font-weight-bold">Item name</h5>
                                    <h5 class="d-inline-block font-weight-bold">QTY</h5>
                                    <p class="card-text font-weight-bold">Price: ${{ item.price }}</p>
                                    <a href="#orderModal" data-target="#orderModal" data-toggle="modal" class="btn btn-sm btn-warning text-white">EDIT</a>
                                    <a href="delete" class="btn btn-sm btn-danger">DELETE</a>
                                </div>
                                <div class="card-footer">
                                    <a href="#" class="btn btn-primary d-block my-1">DISCOUNTS</a>
                                </div>
                                <div class="card-body">
                                    <p class="card-text mb-1">Subtotal:</p>
                                    <p class="card-text mb-1">Tax:</p>
                                    <p class="card-text mb-1">Discounts:</p>
                                    <p class="card-text text-success">Total Price:</p>
                                </div>
                                <div class="card-footer">
                                    <a href="checkout" class="btn btn-success d-block my-1">CHARGE</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% for item in items %}
            <div class="modal" id="orderModal{{ item.id }}" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="orderModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h2 class="font-weight-bold modal-title text-uppercase" id="orderModalLabel">{{ item.item_name }}</h2>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <label for="sides" class="font-weight-bold">Choose a Side Dish:</label>
                            <div class="container mb-2">
                                <div class="custom-control custom-radio">
                                    <input type="radio" name="side_choice" class="custom-control-input" id="side1">
                                    <label for="side1" class="custom-control-label">Side 1</label>
                                </div>
                                <div class="custom-control custom-radio">
                                    <input type="radio" name="side_choice" class="custom-control-input" id="side2">
                                    <label for="side2" class="custom-control-label">Side 2</label>
                                </div>
                                <div class="custom-control custom-radio">
                                    <input type="radio" name="side_choice" class="custom-control-input" id="side3">
                                    <label for="side3" class="custom-control-label">Side 3</label>
                                </div>
                                <div class="custom-control custom-radio">
                                    <input type="radio" name="side_choice" class="custom-control-input" id="side4">
                                    <label for="side4" class="custom-control-label">Side 4</label>
                                </div>
                                <div class="custom-control custom-radio">
                                    <input type="radio" name="side_choice" class="custom-control-input" id="side5">
                                    <label for="side5" class="custom-control-label">Side 5</label>
                                </div>
                            </div>
                            <label for="specialNotes" class="mb-3 font-weight-bold">Special Instructions:</label>
                            <textarea id="specialNotes" rows="3" class="form-control" placeholder="food allergies, no cheese, extra spicy, etc."></textarea>
                            <p class="lead text-center text-success font-weight-bold mt-3">Price: ${{ item.item_price }}</p>
                            <div id="qty_form" class="ml-auto d-flex align-items-center justify-content-center">
                                <button class="btn" id="qty_minus"><i class="fas fa-minus-circle fa-2x text-secondary"></i></button>
                                <input type="text" value="1" id="qty_field" class="text-center" name="quantity">
                                <button class="btn" id="qty_plus" ><i class="fas fa-plus-circle fa-2x text-secondary"></i></button>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <a href="add_to_order" type="button" class="btn btn-block btn-primary py-3">ADD TO ORDER</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </body>
        <script>
            $(document).ready(function(){
                $("#categoryButton1").click(function(){
                    $("#subCategoryButton1").show();
                    $("#subCategoryButton2").show();
                    $("#subCategoryButton3").show();
                    $("#categoryDivider").fadeIn("fast");
                    $("#subCategoryNav").fadeIn("fast");
                });
                $("#categoryButton2").click(function(){
                    $("#subCategoryButton1").show();
                    $("#subCategoryButton2").show();
                    $("#subCategoryButton3").show();
                    $("#categoryDivider").show();
                    $("#subCategoryNav").show();
                });
                $("#categoryButton3").click(function(){
                    $("#subCategoryButton1").show();
                    $("#subCategoryButton2").show();
                    $("#subCategoryButton3").show();
                    $("#categoryDivider").fadeIn("fast");
                    $("#subCategoryNav").fadeIn("fast");
                });
                $("#categoryButton4").click(function(){
                    $("#subCategoryButton1").show();
                    $("#subCategoryButton2").show();
                    $("#subCategoryButton3").show();
                    $("#categoryDivider").fadeIn("fast");
                    $("#subCategoryNav").fadeIn("fast");
                });
                $("#categoryButton5").click(function(){
                    $("#subCategoryButton1").show();
                    $("#subCategoryButton2").show();
                    $("#subCategoryButton3").show();
                    $("#categoryDivider").fadeIn("fast");
                    $("#subCategoryNav").fadeIn("fast");
                });
                $("#subCategoryButton1").click(function(){
                    var x = document.querySelectorAll("#item_display");
                    var i;
                    for(i=0; i < x.length; i++){
                        $(x[i]).show();
                    }
                });
                $("#subCategoryButton2").click(function(){
                    var x = document.querySelectorAll("#item_display");
                    var i;
                    for(i=0; i < x.length; i++){
                        $(x[i]).show();
                    }
                });
                $("#subCategoryButton3").click(function(){
                    var x = document.querySelectorAll("#item_display");
                    var i;
                    for(i=0; i < x.length; i++){
                        $(x[i]).show();
                    }
                });
                $("#categoryNavItem1").click(function(){
                    $("#categoryDivider").fadeIn("fast");
                    $("#subCategoryNav").fadeIn("fast");
                    $("#subCategoryButton1").show();
                    $("#subCategoryButton2").show();
                    $("#subCategoryButton3").show();
                });
                $("#categoryNavItem2").click(function(){
                    $("#categoryDivider").fadeIn("fast");
                    $("#subCategoryNav").fadeIn("fast");
                    $("#subCategoryButton1").show();
                    $("#subCategoryButton2").show();
                    $("#subCategoryButton3").show();
                });
                $("#categoryNavItem3").click(function(){
                    $("#categoryDivider").fadeIn("fast");
                    $("#subCategoryNav").fadeIn("fast");
                    $("#subCategoryButton1").show();
                    $("#subCategoryButton2").show();
                    $("#subCategoryButton3").show();
                });
                $("#categoryNavItem4").click(function(){
                    $("#categoryDivider").fadeIn("fast");
                    $("#subCategoryNav").fadeIn("fast");
                    $("#subCategoryButton1").show();
                    $("#subCategoryButton2").show();
                    $("#subCategoryButton3").show();
                });
                $("#categoryNavItem5").click(function(){
                    $("#categoryDivider").fadeIn("fast");
                    $("#subCategoryNav").fadeIn("fast");
                    $("#subCategoryButton1").show();
                    $("#subCategoryButton2").show();
                    $("#subCategoryButton3").show();
                });
                $("#subCategoryNavItem1").click(function(){
                    var x = document.querySelectorAll("#item_display");
                    var i;
                    for(i=0; i < x.length; i++){
                        $(x[i]).show();
                    }
                });
                $("#subCategoryNavItem2").click(function(){
                    var x = document.querySelectorAll("#item_display");
                    var i;
                    for(i=0; i < x.length; i++){
                        $(x[i]).show();
                    }
                });
                $("#subCategoryNavItem3").click(function(){
                    var x = document.querySelectorAll("#item_display");
                    var i;
                    for(i=0; i < x.length; i++){
                        $(x[i]).show();
                    }
                });
            });
        </script>
    </html>