<!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            {% load static %}
            {% load bootstrap4 %}
            {% bootstrap_javascript jquery='full' %}
            <link rel="stylesheet" href="{% static 'css/app.css' %}">
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
            <link href="https://fonts.googleapis.com/css?family=Questrial" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
            <title>Menu</title>
        </head>
        <body>
            <nav class="navbar navbar-expand-md navbar-dark p-4">
                <a href="#" class="navbar-brand">
                    <h2 class="mb-0">NAME HERE</h2>
                </a>
                <button class="navbar-toggler" data-toggle="collapse" data-target="#mainNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="mainNavbar">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a href="/" class="nav-link">Home</a>
                        </li>
                        <li class="nav-item active">
                            <a href="/menu" class="nav-link">Menu</a>
                        </li>
                        <li class="nav-item">
                            <a href="/reservations" class="nav-link">Reservations</a>
                        </li>
                        <li class="nav-item">
                            <a href="/locations" class="nav-link">Locations/Contact</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <div id="menu_showcase" class="d-flex justify-content-center align-items-center">
                <div id="header" class= "container text-center text-white">
                    <h1 class="display-2 mt-5 font-weight-bold">MENU</h1>
                </div>
            </div>
            <div class="container py-5">
                {% for category in categories %}
                {% if category.item_category.all %}
                <div class="container">
                    <h3 id="menu_categories" class="text-center text-primary text-uppercase font-weight-bold my-5">{{category.category_name}}</h3>
                    <div class="row">
                        {% for item in category.item_category.all %}
                        <div class="col-md-6 col-xl-4 mb-3">
                            <h4 class="font-weight-bolder d-flex justify-content-between">{{item.item_name}}<span class="font-weight-lighter">${{item.item_price}}</span></h4>
                            <p>
                                {{item.item_desc}}
                                {% if item.dietary != 'N/A' %}
                                &nbsp;<i>({{item.dietary}})</i>
                                {% endif %}
                            </p>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
            <div id="footer" class="p-5">
                <div class="container">
                    <div class="row text-center">
                        <div class="col d-sm-none">
                            <h2 class="text-white mb-3">LOCATIONS</h2>
                        </div>
                    </div>
                    <div class="row text-center">
                        <div class="col d-sm-none mb-3">
                            <i class="ml-auto text-white fa-2x fab fa-instagram"></i>
                            <i class="ml-3 text-white fa-2x fab fa-facebook-square"></i>
                            <i class="ml-3 text-white fa-2x fab fa-twitter-square"></i>
                            <i class="ml-3 text-white fa-2x fab fa-yelp"></i>
                        </div>
                    </div>
                    <div class="container d-none d-sm-flex">
                        <h2 class="text-white mb-5">LOCATIONS</h2>
                        <i class="ml-auto text-white fa-2x fab fa-instagram"></i>
                        <i class="ml-3 text-white fa-2x fab fa-facebook-square"></i>
                        <i class="ml-3 text-white fa-2x fab fa-twitter-square"></i>
                        <i class="ml-3 text-white fa-2x fab fa-yelp"></i>
                    </div>
                    <div class="row my-2 border rounded pt-5 shadow">
                        {% for location in locations %}
                        <div class="col-sm-6 col-lg-3 text-white text-center mb-5">
                            <h4 class="text-uppercase font-weight-bold mb-3">{{ location.location_name }}</h4>
                            <p>{{ location.address1 }}</p>
                            <p>{{ location.city }}, {{ location.state }} {{ location.post_code }}</p>
                            <p>{{ location.phone }}</p>
                            <p>Mon-Sun 10 AM - 10PM</p>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </body>
    </html>