

.view {
    height: 350px;
}


.hr-light {
  border-top: 3px solid #fff;
  width: 80px;
}

p a {
    margin-left: 92px;
    color: black;
    text-align: center;
    text-decoration: none;
}

a {
    font-size: 20px;
    text-align: center;
}

.items {
    margin-left: 20px;
}

.main {
    display: inline-block;
    height: 1080px;
    width: 900px;
}

.btn {
    width: 100px;
}

.sidebar-content{
    height: 400px;
    width: 300px;
    position: absolute;
    margin-left: 850px;
    margin-top: 150px;
}
